<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.RECORD_AUDIO"/>
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <queries><intent><action android:name="android.speech.RecognitionService"/></intent><intent><action android:name="android.intent.action.TTS_SERVICE"/></intent></queries>
 <application android:label="Sin.AI Echo" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false">
  <activity android:name="com.sinukus.sinai.TranslationActivity" android:exported="false"/>
  <activity android:name="com.sinukus.sinai.MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
 </application>
</manifest>
